@use '../../../../../styles/variables' as *;

.hero {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5rem 2rem 7rem;
  position: relative;
  background:
    radial-gradient(circle at 60% 10%, rgba(0, 0, 0, 0.08), transparent 35%),
    $success-color;
}

.section--next {
  background: #fbf9ea;
  color: #111;
}

.hero__content {
  max-width: 720px;
}

.hero__title {
  font-family: $font-family-heading;
  font-size: clamp(4.5rem, 11vw, 9rem);
  line-height: 0.9;
  letter-spacing: -0.05em;
  margin-bottom: 1.5rem;
  color: #000000;
  max-width: 10ch;
}

.hero__accent {
  color: $secondary-color;
  font-size: 3rem;
  margin-left: 0.5rem;
}

.hero__subtitle {
  font-family: $font-family-heading;
  font-size: clamp(2rem, 4vw, 3.2rem);
  font-weight: 500;
  color: $text-muted-color;
  margin-bottom: 1rem;
}

.hero__description {
  max-width: 700px;
  font-size: 1.125rem;
}

.hero__actions {
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
  flex-wrap: wrap;
}

.hero__layout {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 2rem;
  align-items: end;
}

.hero__content {
  max-width: 760px;
}

.hero__aside {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.hero__projects-btn {
  position: absolute;

  right: 18%;
  top: 35%;
  transform: translateY(-50%) rotate(10deg);

  min-width: 180px;
  min-height: 80px;

  font-size: 1.2rem;
  font-weight: 700;

  border-radius: 999px;
  padding: 1.2rem 2rem;

  box-shadow: $shadow-hard;
}

.hero__projects-btn:hover {
  transform: translateY(-50%) rotate(4deg) scale(1.05);
}

html {
  scroll-behavior: smooth;
}