<section id="projects" class="projects-preview section">
  <div class="container">

    <div class="projects-preview__header">
      <p class="projects-preview__eyebrow">Projects</p>
      <h2 class="projects-preview__title">Some things I’ve built</h2>
    </div>

    <div class="projects-preview__grid">
      <div 
        class="project-card" 
        *ngFor="let project of projects"
        tabindex="0"
      >
        <h3 class="project-card__title">{{ project.title }}</h3>
        <p class="project-card__description">{{ project.description }}</p>
      </div>
    </div>

  </div>
</section>